@font-face {
  font-family: vazir;
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2-variations');

}
*{
   font-family: vazir;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
}
html,
body {
  padding:0;
  margin:0;
  text-align:right;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
a {
  color: inherit;
  text-decoration: none;
}

ul,li{
  list-style: none;
}
